#base {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin: auto;
    height: 100%;
}
.element {
    position: absolute;
    left: 8%;
    top: 8%;
    width: 84%;
    height: 84%;
}
.bordered {
    border: solid gray 24px;
    box-sizing: border-box;
}
.bordered.small {
    border: solid gray 12px;
    position: absolute;
    left: 0%;
    top: 0%;
    width: 50%;
    height: 50%;
}
.outer {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}
.inner {
    background-color: silver;
}
.place {
    position: absolute;
    width: 64px;
    height: 64px;
    text-align: center;
    z-index: 1;
    overflow: hidden;
    //opacity: 0.5;
    //background-color: yellow;
}

.piece {
    width: 56px;
    height: 56px;
    margin: 4px;
    border-radius: 28px;
    border: ridge silver 1px;
    box-sizing: border-box;
}
